@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1F2937;
}

@theme {
  --color-primary: #e69e0a;
  --color-accent :#f29c05;
  --color-accent-hover:   #e69e0a;
  --color-textMain: #1F2937;
  --color-textMuted: #6B7280;
  --color-borderLight: #E5E7EB;
  --color-accentShadow : #f29b055d;

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
.test{
  color : #3a414f;
}

.carvedLine{
  width : 120%;
  height: 53px;
  position:absolute;
  left: -10%;

  bottom: -50px;
  border: #1F2937 solid 3px;
  border-color: var(--color-accent) transparent transparent transparent;
  border-radius: 50%/20px 0px 20% 2px;
  transform: rotate(-2deg);
}